body {
    background-image: url("gym.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

div{
    background: #5E747F;
    border: 2px solid orange;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 300px;
    text-shadow: 0 0 1px black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #235789;
}

#save-btn {
    background: #018786;
}

#reset-btn{
    background: #f97068;
}

